# App
SECRET_KEY=awerawuh3u1231SDf
DEBUG=false

# PostgreSQL
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/revmap

# Neo4j
NEO4J_URI=neo4j+s://4d6fdc80.databases.neo4j.io
NEO4J_USER=neo4j
NEO4J_PASSWORD=167L-AeQAfGuUoPHgBJ_CU4zE9rnYfSIevacs83yWlM

# Google Cloud
GCS_BUCKET_NAME=revmap-lectures
GOOGLE_APPLICATION_CREDENTIALS=/path/to/service-account.json

# Gemini API
GEMINI_API_KEY=AIzaSyCLp5rStn02pAp3ySIzlt6MgjQaXAXkYLo
GEMINI_MODEL=gemini-1.5-pro

# Limits
MAX_LECTURE_TEXT_LENGTH=50000
